extends layout

block content
	h1 Dashboard
	script(src="/assets/cdot.js")
	div#container(style="min-width: 500px; height: 400px; margin: 0 auto")

	
	h2 My Active Deals
	
	div#dealview(style="min-width: 500px; height: 600px; margin: 0 auto")
	input#token(type='hidden', name='_csrf', value=_csrf)
	div#testAddState(style="background-color:#666;")
		| Test State