extends layout

block content
  h1 Exit Now
  h3 Skip Traffic, Save Money
  hr
  .row
    .col-sm-6
      h2 For Commuters
      p Tired of sitting in traffic?  Of course you are, it sucks!  Don't fight traffic, discover deals and escape the gridlock.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 For Local Businesses
      p Tired of watching all of those cars drive past?  Of course you are, that's money not coming into your business.  Use Exit Now to incentivize drivers motivated to visit your business.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 For Destinations
      p Tired of hearing potential customers gripe about the drive?  Of course you are, if they're not visiting neither are thier greenbacks.  Everyone benefits when drivers use Exit Now to improve thier drive and reduce congestion.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »