/* Additions for admin console demo */

.dealbar{
  width: 98%;
  background-color: #E6E6E6;
  display: block;
  margin: 2px 6px 8px 2px;
  border: 1px solid #CCC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 4px 6px 4px 8px;
  position: relative;
  height:95px;
}
.dealbar.expired{
   background-color: #DB4D4D;
   opacity: 0.63;
}
.dealbar.unactive{
   background-color: #CCC;
   opacity: 0.43;
}
.dealbar span.small{
  font-size:12px;
  
}
.dealbar div.right{
  float: right;
  display: block;
  position: absolute;
  width: 50%;
  top: 2px;
  right: 6px;
  text-align: right;
}
.dealbar span.strong{
  font-weight:800;
  font-size:18px;
  color:#000;
}
.dealbar h2{
  color: green;
  font-size: 34px;
  margin: 4px 10px 2px 6px;
}
.dealbar button{
  float:right;
}
.dealbar span.red{
    color:red;
    font-weight:700;
}

#chartTitleBar{
  display: block;
  position: relative;
  margin: 2px 12px 0px 6px;
  font-size: 18px;
  padding: 2px;
  border-bottom: 1px solid #F1F1F1;
  width: 97%;
  text-align: right;
}
#chartbar{
  width:1100px;
  position:absolute;
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  border-radius:10px;
  height:18px;
  bottom: -99px;
  z-index: 1000;
}
#chartbar li{
  position: absolute;
  width: 175px;
  text-align: center;
  height: 24px;
  background-color: red;
  color: white;
  list-style: none;
  font-size: 14px;
  z-index: 100000;
  font-weight: 700;
}
#chartbar a{
  color:#FFF;
}
		.container2{
			width: 800px;
			margin: 0 auto;
		}


		ul.tabs{
			margin: 18px 0 0 0;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 8px 18px;
			cursor: pointer;
			line-height: 1.6;
		}

		ul.tabs li.current{
			background: #E6E6E6;
			color: #222;
		}

		.tab-content{
			display: none;
			background: #E6E6E6;
			padding: 18px;
			margin: 0 0 18px 0;
			position: relative;
		}

		.tab-content.current{
			display: inherit;
		}
		
	#getTraffic{
	  padding:0;
	  margin:0 0 8px 0;
	}